/*
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import 'global.css.scss';

.notice {
  color: #8fe07b;
  font-weight: bold;
  font-size: 2em;
}

.alert {
  color: #b22358;
  font-weight: bold;
  font-size: 2em;

}

a:hover {
  color: white;
	background: #039BC6;
}
