$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$blue: #039BC6;
$gray-medium-light: #eaeaea;

/*new mixin box sizing*/

/*@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
*/

/*old mixin bold font and box sizing*/
/*
@mixin bold_font {
  font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
*/
/* new typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 20px;
/*  text-align: center;
*/  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


body {
  padding-top: 4.5rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper_with_padding {
  width: 80%;
  margin: 0 auto;
  padding: 3.5rem 0;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

button, .button {
  border: none;
  outline: none;
  background: $blue;
  padding: 1rem 3.5rem;
  border-radius: 2rem;
  a {
    color: white;
    text-decoration: none;
  }
}

.button {
  color: white;
  margin: 2rem 0;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $dark_gray;
  }
}

/*old header {
  background: $dark_gray;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.75rem 0;
  border-bottom: 7px solid $blue;
  .header_inner {
    width: 90%;
    margin: 0 auto;
    #logo {
      display: inline-block;
      width: 10rem;
      float: left;
    }
    nav {
      float: right;
      a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        line-height: 1.5;
        margin-left: 1rem;
      }
    }
  }
}
*/


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


/*old footer {
  background: $dark_gray;
  width: 100%;
  padding: 2rem 0;
  color: white;
  text-align: center;
  @include bold_font;
  p {
    margin: 0;
    font-size: .85rem;
  }
}
*/

/*new footer*/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid $light_gray;
  border-radius: .4rem;
}

input[type="text"], input[type="email"], input[type="password"] {
  height: 40px;
}

textarea {
  min-height: 200px;
}


/*nav {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  .navbar-brand {
    a {
      color: #BD1E23;
      font-weight: bold;
    }
  }
}
*/
